.clases {
  background-image: url("../img/clases/background.webp");
  background-position: center;

  h4 {
    text-align: center;
  }
  
  .clase__item {
    padding: 16px;
    border-radius: 8px;
    margin: 0 32px;

    &__descripcion {
      @include flexbox(row, center, space-evenly, wrap);
      gap: 32px;

      img {
        object-fit: cover;
        @media screen and (min-width: 578px) {
          width: 360px;
          height: 530px;
        }
        @media screen and (max-width: 578px) {
          width: 240px;
          height: 350px;
        }
        @media screen and (max-width: 400px) {
          width: 200px;
          height: 350px;
        }
      }

      p {
        width: 500px;
        min-height: 200px;
        @media screen and (max-width: 1200px) {
          width: 300px;
        }
        @media screen and (min-width: 972px) {
          font-size: $textLg;
        }

        @media screen and (max-width: 578px) {
          min-height: 220px;
        }
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: fit-content;
  }
}
