* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white1;
}

body {
  min-height: 100vh;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: $mainColor;

    &-thumb {
      background-color: $secondaryColor;
      border-radius: 4px;
    }
  }
}

footer {
  height: 80px;
  background-color: $mainColor;
  text-align: center;
  @include flexbox(column, center, center, nowrap);

  p {
    @include textos($textMd, $mainFont, $gray1, $fontRegular);
    margin: 0;
  }
}

main {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 80px);
  padding-top: 56px;

  @media screen and (max-width: 992px) {
    min-height: calc(100vh - 80px);
    padding-top: 46px;
  }
}

.background-opacity-black {
  background-color: $mainColorOpacity;
  padding: 16px;
}

h1 {
  @include textos($textXxl, $secondaryFont, $secondaryColor, $fontBold);
  width: fit-content;
  border-radius: 8px;
}

h4 {
  @include textos($textXl, $mainFont, $white1, $fontRegular);
}

p{
  @include textos($textMd, $mainFont, $white1, $fontLight);
}