.contacto {
    background-image: url('../img/contacto/background.jpg');

    form {
        border-radius: 16px;
        max-width: 720px;
        margin: auto;
    }

    h1 {
        margin: auto;
    }

    input {
        width: 100%;
        height: 48px;
        @include textos($textLg, $mainFont, $gray1, $fontRegular);
        padding-left: 8px;
        margin: 8px 0;

        &[type="submit"],
        &[type="reset"] {
            background-color: $secondaryColor;
            border: none;
            cursor: pointer;
            color: $white1;
            transition: .3s ease-in-out background-color;

            &:hover{
                background-color: $secondaryColorActive;
            }
        }
    }
}
