.contacto {
  background-image: url("../img/contacto/background.webp");

  form {
    border-radius: 16px;
    margin: auto;

    .contacto__inputs-container {
      @include flexbox(row, stretch, flex-start, wrap);
      gap: 16px;
      @media screen and (max-width: 992px) {
        flex-direction: column;
        gap: 0;
      }
      & div {
        flex: 1;
      }
    }

    h1 {
      margin: auto;
    }

    textarea {
      margin: 8px 0;
      min-height: 200px;
      width: 100%;
      padding: 8px;
      @include textos($textLg, $mainFont, $mainColor, $fontRegular);
      background-color: $mainColor2;
      border-radius: 8px;
      border: none;
    }

    input {
      width: 100%;
      height: 48px;
      @include textos($textLg, $mainFont, $white1, $fontRegular);
      padding-left: 8px;
      margin: 8px 0;
      background-color: $mainColor2;
      border-radius: 8px;
      border: none;

      &[type="submit"],
      &[type="reset"] {
        background-color: $secondaryColor;
        cursor: pointer;
        color: $white1;
        transition: 0.3s ease-in-out background-color;

        &:hover {
          background-color: $secondaryColorActive;
        }
      }
    }
  }
}
