.home {
  width: 100%;

  section {
    background-position: center;
    background-repeat: no-repeat;

    .container {
      gap: 32px;

      h1 {
        @include textos($textXxxl, $secondaryFont, $secondaryColor, $fontBold);
        width: fit-content;
        border-radius: 16px;

        @media screen and (max-width: 578px) {
          font-size: $textXxl;
        }
      }

      h2 {
        @include textos($textXl, $secondaryFont, $secondaryColor, $fontBold);
      }

      min-height: calc(100dvh - 56px);

      @media screen and (max-width: 768px) {
        min-height: calc(100dvh - 46px);
      }
    }

    &:first-child {
      background-image: url("../img/index/background-1.webp");
      background-size: contain;
      background-color: $mainColor;
    }

    &:nth-child(2) {
      background-image: url("../img//index/background-2.webp");
      background-size: cover;
      background-attachment: fixed;
    }

    &:last-child {
      background-image: url("../img/index/background-3.webp");
      background-size: cover;

      .container {
        min-height: calc(100dvh - 136px);

        @media screen and (max-width: 768px) {
          min-height: calc(100dvh - 126px);
        }
      }
    }
  }

  &__information {
    @include flexbox(row, center, center, wrap);
    gap: 32px;
    flex: 1;
  }
  &__separador {
    height: fit-content;

    img {
      width: 100%;
      padding: 16px 0;
    }
  }

  &__text--container {
    border-radius: 8px;
    height: fit-content;
    flex: 2;
    min-width: 350px;
  }
}
