.multimedia {
  background-image: url("../img/multimedia/background.webp");
  background-position: center;

  &__soundtrack-container {
    border-radius: 8px;
    width: 100%;
  }

  &__videos-container {
    @extend .multimedia__soundtrack-container;
    margin: 0 auto;
    margin-bottom: 24px;

    iframe {
      width: 100%;
      height: 700px;
  
      @media screen and (max-width: 1200px) {
        height: 500px;
      }
  
      @media screen and (max-width: 992px) {
        height: 360px;
      }
  
      @media screen and (max-width: 500px) {
        height: 300px;
      }
  
      @media screen and (max-width: 400px) {
        height: 240px;
      }
    }
  }

  button {
    height: fit-content;
    width: fit-content;
    padding: 32px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  h2 {
    margin-bottom: 8px;
    text-align: center;
    @include textos($textXl, $mainFont, $white1, $fontRegular);
  }

}
