header {
  background-color: $mainColor !important;
  position: fixed !important;
  width: 100%;
  z-index: 100;

  ul {
    align-items: center;
    height: 100%;
  }

  li {
    list-style: none;
  }

  a {
    @include textos($textLg, $secondaryFont, $secondaryColor, $fontRegular);
    text-decoration: none;
    margin: 0px 8px;
    transition: 0.2s ease-in-out color;

    &:hover {
      color: $secondaryColorActive;
    }
  }

  .active {
    color: $secondaryColorActive;
  }

  i {
    color: $secondaryColor;
  }

  nav {
    @media screen and (max-width: 992px) {
      position: relative;
    }
  }
}

.header-logo {
  @include flexbox(row, center, center, nowrap);
  height: 100%;

  img {
    height: 40px;
  }

  @media screen and (max-width: 992px) {
    position: absolute;
    margin-left: 60px;
    top: 0;
    height: 30px;
  }
}

.list-item {
  flex-grow: 0;
}
