.personajes {
    background-image: url('../img/personajes/background.webp');
    background-attachment: fixed;

    .personaje__item {
        border-radius: 8px;
        height: 100%;

        img {
            width: 100%;
            object-fit: cover;
            height: 128px;
            border-radius: 8px;
        }

        h4 {
            text-align: center;
            @include textos($textXl, $mainFont, $white1, $fontRegular);
        }

        p {
            margin-top: 4px;
            @include textos($textMd, $mainFont, $white1, $fontLight);

            @media screen and (max-width: 578px) {
                font-size: $textSm;
            }
        }
    }
}