//variables

//esquema de colores
$mainColor: #000;
$mainColor2: #323232;
$secondaryColor: #9E976E;
$secondaryColorActive: #ccbf72;
$mainColorOpacity: rgba(0, 0, 0, 0.8);
$white1: #fafafa;
$gray1: #a9a9a9;

//fuentes
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Cinzel', serif;

//tamaño de fuente
$textSm: 0.8rem;
$textMd: 1rem;
$textLg: 1.2rem;
$textXl: 2rem;
$textXxl: 2.5rem;
$textXxxl: 4rem;

//fontweight
$fontLight: 300;
$fontRegular: 400;
$fontBold: bold;